html {
    height: -webkit-fill-available;
    user-select: none;
    -webkit-user-select: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #faffff;
    background-size: cover;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    // Nonstandard! Let's see if this works
    -webkit-tap-highlight-color: transparent;

    // height: 100vh;
    min-height: 100vh;
    min-height: -webkit-fill-available;

    &.countdown {
        #countdown-mode-button {
            opacity: 1;
        }
    }

    &.stopwatch {
        background-color: #ffefff;

        .increment-button {
            transform: scale(0, 0);
        }
        #stopwatch-mode-button {
            opacity: 1;
        }
        #progress-bar {
            display: none;
        }
    }

    &.is-running {
        .increment-button {
            transform: scale(0, 0);
        }
        #start-button {
            background-color: #fb647f;
            transition: all 200ms;
        }
    }
}

#install-stuff {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: slateblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 400ms ease-out;
    opacity: 0;
    pointer-events: none;

    &.showing {
        pointer-events: initial;
        opacity: 1;
    }

    .text-holder {
        text-align: center;
    }
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, rgb(245, 255, 255), rgb(145, 255, 255)); // lightblue = rgb(135,206,250)
}

#top-stuff {
    display: flex;
    width: 100%;
}

#mode-toggler {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 10vmin;

    .mode-button {
        text-align: center;
        user-select: none;
        cursor: pointer;
        padding: 1rem 1rem;
        position: relative;
        overflow: hidden;
        transition: all 200ms;
        opacity: 0.1;

        &:after {
            content: "";
            position: absolute;
            width: calc(100% - 8px);
            top: 100%;
            left: 0;
            border: 4px solid green;
            border-radius: 200px;
            transition: all 200ms;
        }
    }
}

@keyframes flash {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.02, 1.02);
    }
    100% {
        transform: scale(1, 1);
    }
}

#display-holder {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    animation: fadein 1000ms forwards;
    width: 100%;

    &.flashing {
        animation: flash 0.5s infinite ease-in-out;
    }

    #display {
        display: flex;
        justify-content: center;
        align-items: baseline;
        color: navy;

        .time-holder {
            user-select: none;
            position: relative;
            overflow: hidden;

            .digit-frame {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }

        .digit-holder {
            position: relative;

            &.sub-seconds {
                font-size: 50%;
                opacity: 0.5;
            }
        }

        #seconds_10ths {
            margin-left: 0.5rem;
        }

        .increment-button {
            user-select: none;
            cursor: pointer;
            position: absolute;
            text-align: center;
            color: lightblue;
            transition: all 200ms;
            width: 100%;
            font-size: 75%;
            z-index: 1;

            &.up-button {
                bottom: 70%;
            }

            &.down-button {
                top: 60%;
            }
        }
    }
}

#buttons-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.control-button {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0.5rem;
    background-color: navy;
    color: white;
    border: none;
    font-size: 10vmin;
}

.number-holder {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    font-size: 60%;
    opacity: 0.6;
}

#start-button {
    background-color: #17a69d;
}

#clear-button {
    background-color: #4387d0;
}

@media (orientation: portrait) {
    .sub-seconds {
        display: none;
    }
}

@media (max-width: 720px) {
    // .mode-button {
    //     font-size: 2rem;
    // }
    .number-holder {
        bottom: 0.5rem;
        right: 0.5rem;
    }
}
